.pay-scale-table td, .pay-scale-table th{
    border: solid 1px #eed2e6 !important;
}

/* .table .heading{
    background-color:  #e5be00 !important;
}

.table .sub-heading{
    background-color:#FFDD3C !important;
} */