.payroll-calculator-container{
    min-width: 580px;
}

.payroll-vars-container .input-group-text{
    background-color: #45c1a5;
    border: solid 2px #45c1a5;
    color:#fff;
    height:40px;
}

.payroll-vars-container .form-control{
    border: solid 2px #45c1a5;
    height:40px;
}

.btn-radio{
    font-weight:bold;
}

.payroll-vars-container .highlight-white, .payroll-parameters-container .highlight-white{
    background-color: #fff;
    color:#45c1a5;
    border:solid 0.125rem #45c1a5;
}

.payroll-vars-container .highlight-white:hover{
    background-color: #45c1a5;
    border: solid 2px #45c1a5;
    color:#fff;
}

.payroll-vars-container .highlight-torquise, .payroll-parameters-container .highlight-torquise{
    background-color: #45c1a5;
    border: solid 2px #45c1a5;
    color:#fff;
}

.payroll-vars-container .highlight-torquise:hover{
    color:#fff;
}

.border-torquise{
    border:solid 2px #45c1a5;
}

.highlight-total-pay{
    background-color: #fff;
    color:#45c1a5;
    font-weight: bold;
}

th, td{
    border:none !important;
}

.last-row{
    background-color:#45c1a5;
}

.border-bottom-torquise{
    border-bottom:solid 10px  #45c1a5;
}