.payroll-var-container{
    display:flex;
    justify-content: center;
}

.payroll-var{
    margin:20px;
}

.radio-btn-margin{
    margin-right:16px;
}

.grid-row{
    display: flex;
    justify-content: center;
}

.grid-box{
    border:solid 1px #000;
    height:30px;
    width:150px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.parameter-grid{
    margin-top:20px;
}