.orange{
    background-color:#FF851B;
}

.blue{
    background-color:#0074D9;
}

.green{
    background-color: #2ECC40;
}

.icon{
    color:#fff;
    font-size: 30px;
    height:30px;
    display:flex;
    align-items: center;
    justify-content: center;
    filter:drop-shadow(2px 2px 0px #3e3e3e);
}